# COPYRIGHT (C) 2019 MITSUBISHI ELECTRIC CORPORATION
# ALL RIGHTS RESERVED

type vcpuemulator, domain, melco_daemon;
type vcpuemulator_exec, exec_type, vendor_file_type, file_type;

init_daemon_domain(vcpuemulator);

unix_socket_connect(cpucomdaemon, vcpuemulator, vcpuemulator)
allow vcpuemulator cpucomdaemon_device:chr_file rw_file_perms;

domain_auto_trans(shell, vcpuemulator_exec, vcpuemulator)
unix_socket_connect(vcpuemulator, emulatorcli, vcpuemulator)
allow vcpuemulator adbd:fd use;
allow vcpuemulator shell:fd use;
allow vcpuemulator adbd:unix_stream_socket { read write };
allow vcpuemulator devpts:chr_file { read write };
