<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mitsubishielectric.ahu.efw.cpucomservice.cpucomservicetestapp">

    <uses-permission android:name="com.mitsubishielectric.ahu.efw.common.permission.ACCESS_MELCO_EFW" />

    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_1101" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_1102" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_1103" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_1180" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_1182" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_1183" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_2200" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_2201" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_2202" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_2203" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_2205" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_220C" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_220D" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_220E" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_220F" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_2210" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_2211" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_2280" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_2281" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_2282" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_2283" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_2284" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_2285" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_2286" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_2287" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_228C" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_228D" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_228E" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_228F" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_2290" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_2291" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_2600" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_2602" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_2610" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_2680" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_2681" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_2682" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_2690" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_3000" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_3080" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_4201" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_4202" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_4210" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_4211" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_4212" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_4213" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_4214" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_4215" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_4216" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_4217" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_4290" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_4F00" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_4F01" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_4F02" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_4F03" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_4F80" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_4F81" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_4F82" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_4F83" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_5300" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_5301" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_5302" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_5303" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_5304" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_5305" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_5306" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_5307" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_5308" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_5309" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_530A" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_530B" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_530C" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_530D" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_530E" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_530F" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_5310" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_5311" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_5312" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_5313" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_5314" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_5315" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_5316" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_5317" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_5318" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_5319" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_5380" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_5381" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_5382" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_5383" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_5384" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_5385" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_5386" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_5387" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_5388" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_5389" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_538A" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_538B" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_538C" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_538D" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_538E" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_538F" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_5500" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_5501" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_5502" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_5503" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_5504" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_5505" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_5580" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_5585" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_5586" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_6100" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_6102" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_6103" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_6104" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_6180" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_6181" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_6182" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_6183" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_7102" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_7104" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_7105" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_7106" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_7108" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_710D" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_7181" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_7183" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_7185" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_7187" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_8201" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_8202" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_8203" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_8204" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_8206" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_820B" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_8281" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_8282" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_8283" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_8284" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_8285" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_8286" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_8287" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_8289" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_828A" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_828B" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_828D" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_828E" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_828F" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_82FF" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_8301" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_8381" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_8500" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_8503" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_8506" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_850A" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_8513" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_8514" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_8515" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_8517" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_8518" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_8520" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_8521" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_8522" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_8530" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_8531" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_8532" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_8533" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_8534" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_8580" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_8583" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_8584" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_8585" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_8586" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_858A" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_858E" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_858F" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_8592" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_8593" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_8598" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_85A1" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_9401" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_9402" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_9403" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_9405" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_9406" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_9408" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_9484" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_9487" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_9489" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_948A" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_9501" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_9502" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_9503" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_9504" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_9505" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_9506" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_9507" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_9508" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_9509" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_950A" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_950B" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_950C" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_950D" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_950E" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_950F" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_9511" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_9512" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_9513" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_9514" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_9515" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_9518" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_9519" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_9581" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_9583" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_9585" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_9586" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_9587" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_9588" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_9589" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_958A" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_958B" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_958C" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_958D" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_958E" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_958F" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_9591" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_9592" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_9595" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_9596" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_9597" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_9598" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_9599" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_A210" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_A290" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_D301" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_D381" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_D385" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_DC01" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_DC02" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_DC03" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_DC04" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_DC05" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_DC06" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_DC07" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_DC08" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_DC09" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_DC0A" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_DC0C" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_DC81" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_DC82" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_DC83" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_DC84" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_DC85" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_DC86" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_E101" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_E106" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_E107" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_E181" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_E186" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_F904" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_F906" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_F907" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_F908" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_F909" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_F90D" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_F90E" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_F915" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_F916" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_F920" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_F980" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_F984" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_F986" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_F987" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_F988" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_F989" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_F98D" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_F98E" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_F995" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_F996" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_F9A0" />
    <uses-permission android:name="com.mitsubishielectric.ahu.efw.cpucomservice.permission.cmd_FD00" />

    <application
        android:allowBackup="false"
        android:label="@string/title_activity_main2"
        android:theme="@style/AppTheme">

        <uses-library android:name="com.mitsubishielectric.ahu.efw.lib.common"/>
        <uses-library android:name="com.mitsubishielectric.ahu.efw.lib.cpucomservice"/>
        <uses-library android:name="com.mitsubishielectric.ahu.efw.lib.extendedservicemanager"/>

        <activity android:name="com.mitsubishielectric.ahu.efw.cpucomservice.cpucomservicetestapp.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.mitsubishielectric.ahu.efw.cpucomservice.cpucomservicetestapp.CpuComServiceTestAppShell"
            android:permission="com.mitsubishielectric.ahu.efw.common.permission.ACCESS_MELCO_EFW"
            android:enabled="true"/>
    </application>

</manifest>
